@font-face {
    font-family: "gotham-rounded";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gothamrnd-book.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamrnd-book.woff") format("woff"), url("../fonts/gothamrnd-book.ttf") format("truetype"), url("../fonts/gothamrnd-book.svg#gotham-rounded") format("svg");
}

@font-face {
    font-family: "gotham-rounded";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/gothamrnd-light.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamrnd-light.woff") format("woff"), url("../fonts/gothamrnd-light.ttf") format("truetype"), url("../fonts/gothamrnd-light.svg#gotham-rounded") format("svg");
}

@font-face {
    font-family: "gotham-rounded";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/gothamrnd-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamrnd-medium.woff") format("woff"), url("../fonts/gothamrnd-medium.ttf") format("truetype"), url("../fonts/gothamrnd-medium.svg#gotham-rounded") format("svg");
}

@font-face {
    font-family: "gotham-rounded";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/gothamrnd-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamrnd-bold.woff") format("woff"), url("../fonts/gothamrnd-bold.ttf") format("truetype"), url("../fonts/gothamrnd-bold.svg#gotham-rounded") format("svg");
}

@font-face {
    font-family: "fakt pro";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FaktPro-Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/FaktPro-Normal.woff") format("woff"), url("../fonts/FaktPro-Normal.ttf") format("truetype");
}

@font-face {
    font-family: "fakt pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/FaktPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FaktPro-SemiBold.woff") format("woff"), url("../fonts/FaktPro-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "fakt pro";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/FaktPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FaktPro-Medium.woff") format("woff"), url("../fonts/FaktPro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "fakt pro";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/FaktPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FaktPro-Light.woff") format("woff"), url("../fonts/FaktPro-Light.ttf") format("truetype");
}

body {
    width: 100%;
    height: 100%;
    font-family: "fakt pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "gotham-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}


.give-me-padding {
    padding: 20% 0;
}



a {
    color: #0083EF;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #005CA8;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, .3);*/
    text-transform: uppercase;
    font-family: "gotham-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000;
    font-size: 16px;
}

.navbar-custom .navbar-brand {
    font-weight: 500;
}

.navbar-brand {
    padding: 20px 15px;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .1);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}


/* dropdown */

.navbar-nav > li > .dropdown-menu {
    border-radius: 3px !important;
    font-size: 16px;
    letter-spacing: 0;
}

.navbar-nav > li > .dropdown-menu > li {
    margin: 10px 0;
}

.navbar-custom .dropdown-menu a {
    color: #42478E;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar-custom .dropdown-menu a:hover {
    color: #555CC3 !important;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: none !important;
}

.dropdown-menu .divider {
    background-color: rgba(0, 0, 0, 0.05);
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        /*border-bottom: 1px solid rgba(255, 255, 255, .3);
        */
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: url(../img/cover.jpg) no-repeat center left scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 2.5em;
    text-transform: none;
    text-shadow: 0 0 5px #24244b;
    margin-bottom: 5vh;
}

.intro .intro-body .intro-text {
    font-size: 0.6em;
    margin-top: 20px;
    font-family: 'gotham-rounded';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#scrolldown {
    color: #0d0e12 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-family: 'gotham-rounded';
    letter-spacing: 1px;
    padding-bottom: 20px;
}

#scrolldown .btn-circle {
    color: #364067 !important;
    border-color: #364067 !important;
}

@media(min-width:768px) {
    .navbar-brand {
        padding: 15px 15px;
    }
    .intro {
        height: 100vh;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 3.3em;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }
    .download-section {
        padding: 100px 0;
    }
}

.btn {
    border-radius: 3px;
    text-transform: uppercase;
    font-family: "gotham-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

.btn-cta {
    margin: 7px 0 5px 10px;
    font-size: 16px;
    background: #D65656;
    box-shadow: 0 3px 0 #CE3D3B;
    border: 0;
    font-weight: 500;
}

.btn-cta-big {
    color: white;
    width: 100%;
    padding: .5em 0em;
    margin: 0;
    margin-top: 2vh;
    text-transform: capitalize;
    font-size: 20px;
}

.btn-cta:hover,
.btn-cta:active {
    background-color: #353866;
    box-shadow: 0 3px 0 #242746;
    color: white;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #c6bed5;
}

::selection {
    text-shadow: none;
    background: #c6bed5;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}

body {
    font-size: 13px;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}

.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0
}

@media (min-width:768px) {
    body {
        font-size: 16px;
    }
    .btn-cta-big {
        font-size: 1.3em;
    }
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}

@media (min-width:992px) {
    body {
        font-size: 17px;
    }
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width:1200px) {
    body {
        font-size: 18px;
    }
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}

.team-member {
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
    width: 80%;
    box-shadow: 3px 5px 1px #F0F2F7;
    max-width: 280px;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

#pledge-form-container {
    background: white;
    border-radius: 5px;
    color: black;
    padding: 5%;
    box-shadow: 0 0 1em #24244b;
}

#pledgername {
    display: block;
    margin: 20px auto;
    width: 80%;
    font-size: 3em;
    text-align: center;
    color: #362b45;
    border: 0px;
    border-bottom: 1px solid #d8cde4;
}

::-webkit-input-placeholder {
    color: #8d7ea9;
}

:-moz-placeholder {
    color: #8d7ea9;
}

::-moz-placeholder {
    color: #8d7ea9;
}

:-ms-input-placeholder {
    color: #8d7ea9;
}

.radio,
.cta {
    color: #454257;
    position: relative;
    font-size: 26px;
}

.radio span {
    position: relative;
    padding: 0 15px 0 10px;
}

.radio span:after {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 100%;
}

.radio input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.radio input[type="radio"]:checked + span {
    color: #5c4ab8;
}

.radio input[type="radio"]:checked + span:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #5c4ab8;
    left: 5px;
    top: 6px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.cta {
    font-size: 1.5em;
    font-weight: 400;
}

.display-inline {
    display: inline-block;
}

.top-margin {
    margin-top: 2em;
}

.bottom-margin {
    margin-bottom: 2em;
}

.full-image-plz img {
    width: 90%;
    margin: 0 auto;
}

.small-text {
    margin-top: 1em;
}

.small-icon {
    max-width: 72px;
}

.read-more-link {
    color: #0083EF;
    border-bottom: 2px solid  #eee;
    text-decoration: none;
    margin-top: 1em;
    font-size: 1.2em;
}

.names {
    font-weight: 500;
    text-transform: none;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: "gotham-rounded";
    font-size: 1.2em;
}

.text-muted {
    text-transform: uppercase;
    font-family: "gotham-rounded";
    letter-spacing: 0.2em;
    margin-bottom: 1em;
}

.quote {
    color: #6A6A6D;
    font-style: italic;
    font-size: 1.2em;
}

.footer {
    padding: 1em 0;
}


@media(min-width:768px) {

    .give-me-padding {
        padding: 10% 0;
    }

    .small-text {
        font-size: 1em;
    }

    .quote {
        font-size: 0.9em;
    }

    .text-muted {
        font-size: 0.8em;
    }
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}